Package: latte-dock-dbgsym
Package-Type: ddeb
Source: latte-dock
Version: 0.9.11-1hpy1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Installed-Size: 9311
Depends: latte-dock (= 0.9.11-1hpy1)
Section: debug
Priority: optional
Description: debug symbols for latte-dock
Build-Ids: 758a6eb2302a4920900439d45f87fc81488f6d70 8d2741a3e4e1b16a2c20d045361658c3dff809f5 c90906a3d434b1c8927da6000961ee06f8e59a51
